* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #1b4496, #42085f);
    padding: 10px;
}

.todo-list {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 12px;
}

.todo-list h2 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

.todo-list h2 img {
    width: 40px;
    margin-left: 10px;
}

.row {
    display: flex;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 30px;

}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;

}

button {
    border: none;
    outline: none;
    padding: 16px 40px;
    background: #f72a4c;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 10px;
    user-select: none;
    cursor: pointer;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(image1.png);
    background-size: cover;
    background-position: center;
    left: 8px;
    margin-left: 30%;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(image2.png);
}

ul li span {
    position: absolute;
    right: 0;
    width: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    border-radius: 50%;
    margin-right: 33%;
    background-color: #e9e3e3;
}

ul li span:hover {
    background-color: hwb(225 91% 6%);
}
footer{
    background:#2c3e50;
    padding: 10px;
    border: 30px;
    color: black;
    text-align:center;
}
@media only screen and (max-width:600px){
    button {
        padding: 15px;
        font-size: 15px;
        margin-left:-20px;
        border-radius: 20px;
    }
    ul li{
        padding: 10px;
    }
    ul li span{
        margin-right:30px;
    }


}
    
